
@{
    ViewBag.Title = "Другое";
}

<h2>Другое</h2>

@Html.ActionLink("Материалы", "Index", "Material") <br />
@Html.ActionLink("Работы", "Index", "Work") <br />
@Html.ActionLink("Работники", "Index", "Worker") <br />
@Html.ActionLink("Заказчики", "Index", "Zakazchik") <br />

